table, td, tr {
    border: 2px solid black;
}

td {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

td:focus {
    background-color: rgb(238, 255, 0);
}


.moveCells{
    background-color: aqua;
}

.disabled {
    background: grey;
}

span.has-player {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

span.has-weapon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
}

.displayPlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -5px;
}

.gamebutton {
    margin: 10px auto;
}

#gameStart{
    display: block;
    margin: auto;
}

h1, h2{
    text-align: center;
}

.info-joueur {
    border: 2px solid black;
    width: 200px;
    height: 220px;
    text-align: center;
    margin: 5px;
}

table{
    margin: auto;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container.active{
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal {
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h2 {
    margin: auto;
    font-weight: 500;
}

.modal p{
    text-align: center;
}

.modal #fight-mode-choice {
    text-align: center;
}

.modal #replay{
    display: block;
    margin: 10 auto;
}