/*====================
==== Mobile ==========
==== Général =========
==== Game Items ======
==== Player Panel ====
==== Modal ===========
==== Large Screen ====
====================*/

/*==== Mobile ====*/

/*==== Général ====*/

body {
    background-color: #2a9d8f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
    text-align: center;
}

td {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    background-color: #457b9d;
}

td, tr {
    border: 2px solid black;
    border-radius: 5px;
}

table {
    margin: auto;
}

/*==== Game Items ====*/

span.has-player {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: center;
}

span.has-weapon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
}

td:focus {
    background-color: #8ecae6;
}


.moveCells {
    background-color: #a8dadc;
}

.disabled {
    background: #7f4f24;
}

.gameButton {
    margin: 10px 5px 0;
}

#gameStart {
    display: block;
    margin: auto;
    background-color: bisque;
    font-size: large;
    font-weight: 700;
    border-radius: 7px;
    min-width: 100px;
    min-height: 40px;
}

/*==== Player Panel ====*/

.playerPanel {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2[data-player="Luke"] {
    color: red;
}

h2[data-player="Marie"] {
    color: blue;
}

.info-player {
    border: 2px solid black;
    border-radius: 7px;
    width: 180px;
    height: 230px;
    text-align: center;
    margin: 10px 5px;
    background-color: #cb997e;
    font-weight: 400;
}

.info-player h2 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.info-player dl {
    margin-top: 5px;
}

/*==== Modal ====*/

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal-container.active {
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal {
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #ddbea9;
    border-radius: 7px;
    border: 3px solid #7f4f24;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h2 {
    margin: auto;
}

.modal p {
    text-align: center;
    font-size: large;
}

.modal #fight-mode-choice {
    text-align: center;
    font-size: large;
}

.modal #replay {
    display: block;
    margin: 10px auto;
    background-color: rgb(236, 231, 213);
    font-weight: 700;
    border-radius: 7px;
    min-width: 90px;
    min-height: 35px;
}

.modal #confirm-choice {
    margin-top: 25px;
    background-color: rgb(236, 231, 213);
    font-weight: 700;
    border-radius: 7px;
    min-width: 90px;
    min-height: 35px;
}

/* ==== Large Screen ==== */

@media(min-width: 640px) {
    td {
        width: 100px;
        height: 100px;
    }

    span.has-player {
        display: inline-block;
        background-size: 80px;
    }

    span.has-weapon {
        background-size: 60px;
    }

    .info-player {
        width: 200px;
        margin: 20px;
        font-weight: 700;
    }

    .playerPanel {
        margin: -5px;
    }
}




